.traducir {
	font-family: 'Hammersmith One', Arial, Helvetica, sans-serif;
	font-size: 140%;
	text-align: left;
	color: #94d8f2;

}

.Suscribete {
	font-family: 'Bevan', Arial, Helvetica, sans-serif;
	font-size: 190%;
	text-align: left;
	color: #8d2c4d;
}


.Txt_Evento2 {
	font-family: 'Hammersmith One', Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #b04d71;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 280px;
	position: absolute;
	top: 609px;
	margin-bottom: 0;
}

body {
  background: #E7D9BC;
  margin: 0;
}

.clear {
  clear:both;
}

#page {
  padding: 0 10px;
  width: 960px;
  margin: -30px  auto 0px;
} 

/* Header */ 
#header {
  height: 30px;
}

#header #secondary ul {
  padding-top:5px;
}

#red-bar {
  background: #C2858D;
  height: 30px;
}

#secondary ul li a {
	font-family: 'Hammersmith One', Arial, Helvetica, sans-serif;
	text-align: left;
	color: #fff;
  font-weight: normal;
  font-size: 15px;
  text-decoration:none;
}

#footer #secondary ul li a {
  color: #AC4A63;
}

h1 {
	font-family: 'Bevan', Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: left;
	color: #af4f70;
}

h2 {
	font-family: 'Bevan', Arial, Helvetica, sans-serif;
	font-size: 28px;
	text-align: left;
	color: #1f6a99;
}

.pane-content p  {
    color: #333333;
    font-family: 'Varela',Arial,Helvetica,sans-serif;
    font-size: 14px;
    left: 280px;
}


h4 {
	font-family: 'Bevan', Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: left;
	color: #1F6A99;
  font-weight:normal;
}


.boton_enviar {
	font-family: 'Bevan', Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #fff;
  padding: 0 25px;
  background-color:#3366FF;
  text-decoration:none;
  font-weight: normal;
}


